<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Fantasy Pet Adoption</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {{!-- <li><a href="#"><span class="glyphicon glyphicon-heart-empty"></span> &nbsp;Adopt a Pet</a></li> --}}
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> &nbsp;Contact Us</a></li>
    </ul>
  </div>
</nav>