<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pet Adoption</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
       <a href="about.html"> &nbsp;About</a>
       <a href="rescued.html">&nbsp;Rescued Pets</a>
        <a href="petsafety.html"> &nbsp;Pets Safety</a>
      <a href="/"> &nbsp;Home</a>
     
     
    </ul>
  </div>
</nav>