<body style="background: url(glitterglitter.jpg)">

{{> f-navbar}}

<div class="jumbotron jumbotron-fluid" style="background: transparent;">
  <div class="container">
    <h1 class="display-4" style="font-size: 150%;">FANTASY PETS</h1>
    <h3 class="lead" style="font-size: 50%;">Fantastic Pets and Where To Find Them!</h3>
  </div>
</div>


{{> f-carousel}}

  
<div class="container text-center">    
  <h1>Adopt a Pet Today!</h1><br>
  <div class="row">
    <div class="col-sm-4" id="adoptdiv">
      <img src="adoptacritturcard.png" class="img-responsive" style="text-align:center" alt="Image">
    </div>
    <div class="col-sm-4" id="backtorealanimalsdiv"> 
      <img src="backtorealpetscard.png" class="img-responsive" style="text-align:center" alt="Image">
    </div>
    <div class="col-sm-4" id="contactdiv">
      <img src="sendusalettercard.png" class="img-responsive" style="text-align:center" alt="Image">
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
    Copyright &copy; 2018 The Amazons
</footer>

</body>