/* ------------------------------------------------------ */
/* --------------- CHOICES CARD CSS BELOW --------------- */
/* ------------------------------------------------------ */

#choicescard {
    width: 50%; 
    height: auto;
    margin: 10% 25% 10% 25%;
    padding: 0 15px 15px 15px;
    border-style: solid;
    border: double;
    border-width: 10px;
    border-color: rgb(26, 38, 92);
    position: absolute;
    text-align: center;
    Font-Family: 'Cinzel', Cursive;
    Font-Size: 40px;
    color: rgb(26, 38, 92);
    background-image: url(/public/images/catbackground.png);
    background-size: cover;
}

#realpetsbutton {
    background-color:  rgb(26, 38, 92);
    border: double;
    border-width: 5px;
    color: rgb(250, 231, 231);
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    Font-Family: 'Fauna One', Serif;
    font-size: 20px;
 }

#fantasypetsbutton {
    background-color: rgb(93, 46, 99);
    border: double;
    border-width: 5px;
    color: rgb(250, 231, 231);
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    Font-Family: 'Fauna One', Serif;
    font-size: 20px;
}

/* ------------------------------------------------------ */
/* ------------- FANTASY ANIMAL CSS BELOW --------------- */
/* ------------------------------------------------------ */

#fpetstitle {
    Font-Family: 'Cinzel', Cursive;
    Font-Size: 64px;
    color: rgb(26, 38, 92)
}

fpetssubtitle {
    Font-Family: 'Fauna One', Serif;
    Font-Size: 14px;
    color: rgb(93, 46, 99);
}

#fantasycardsrow h2 {
    Font-Family: 'Cinzel', Cursive;
    Font-Size: 24px;
    color: rgb(93, 46, 99);
    text-align: center;
    padding-top: 10px;
}

#fantasycardsrow p {
    Font-Family: 'Cinzel', Cursive;
    Font-Size: 14px;
    line-height: 15px;
    color: rgb(26, 38, 92);
    padding-left: 10px;
}

.fantasycard {
    background-color: rgb(253, 205, 205, .5);
    border-radius: 10px; 
}

.fantasycard-img {
    padding: 15px;
}

/* ------------------------------------------------------ */
/* ----- FANTASY CSS ABOVE // REAL ANIMAL CSS BELOW ----- */
/* ------------------------------------------------------ */

#rpetstitle {
    Font-Family: Courier New;
    Font-Size: 64px;
    color: rgb(0, 0, 0)
}


#rpetssubtitle {
    Font-Family: Courier New;
    Font-Size: 14px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

#realcardsrow {
    Font-Family: Courier New;
    Font-Size: 12px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    background-color: white;
}

.realcard {
   
    border-radius: 10px; 
    }


.realcard-img {
padding:15px;
}


/* ------------------------------------------------------ */
/* -------------- REAL ANIMAL CSS ABOVE ----------------- */
/* ------------------------------------------------------ */


/* -----------------------------------------------------  */
/* ------------------STYLING THE ADOPTION FORM----------- */
/* ------------------------------------------------------ */

.adopt-req-form li {
    list-style-type: none; 
    display: block;
    padding-bottom: .2em;
    padding-top: .2em;
    width: 100%;
}

.client-message{
    vertical-align: top;
}

.adopt-req-form{
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: left;
}

/* Style the submit button  */
.submit-adopt-form {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}